.flex {
    display: flex;
}

.flex_1 {
    flex: 1;
}

.flex_2 {
    flex: 2;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-spaceBetween {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}
