$md-w: 1024px;
$md-h: 570px;

$sm-w: 560px;
$sm-h: 550px;

@mixin breakpoint($max-width: $md-w, $max-height: $md-h) {
    @media screen and (max-width: $max-width),
        screen and (max-height: $max-height) {
        @content;
    }
}
$md-w: 1024px;
$md-h: 570px;

$sm-w: 560px;
$sm-h: 550px;

@mixin breakpoint($max-width: $md-w, $max-height: $md-h) {
    @media screen and (max-width: $max-width),
        screen and (max-height: $max-height) {
        @content;
    }
}
