// Calling Custom css reset
@import 'reset.scss';
// Calling Custom flex Classes
@import 'flex.scss';

// Calling Vendor Css
@import 'animation.scss';
@import 'media.scss';

html,
body {
    font-size: 14px;
    line-height: 1.47;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    min-height: 100%;
}

// Common styles

$white: #fff;
$black: #000;
$primary: #15a7d4;
$temp: #144d65;

// Start for the Main Container
.wrap {
    position: relative;
    overflow: hidden;

    @import 'atfcontent.scss';
    @import 'aboutus.scss';
    @import 'teamdetails.scss';
    @import 'processInfo.scss';
    @import 'gallery.scss';
    @import 'contactus.scss';
    @import 'footer.scss';
}
